.recommended-friends {
    padding-top:15px;
    border-top:var(--main-border);
    border-bottom: var(--main-border);
    color:grey;
}

.recommended-friends-title {
    padding:100px 0px;
    text-align: center;

}

.open-chat {

    margin-top:15px;
    color:var(--grey);
    display: flex;
    justify-content: space-between;
}