.friends-name-display {
    margin-top:25px;
    text-align: center;
    background-color: rgba(0,0,0,0.03);
    color:var(--main-color);
    padding:13px 0px;
}

.channel-line {
 margin-top:20px;
 border-top:var(--main-border);
 color:var(--grey);
 padding-top:10px;
 display: flex;
 justify-content: space-between;
}