.open-post {
    margin-top:15px;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--main-border);
    padding-bottom: 15px;
}

.open-post__column-left {
display: flex;
flex-direction: column;
}



.open-post__img {
    width:20px;
    height:20px;
    border-radius: 10px;
}


.open-post__main-img {
    width:110px;
    height:110px;
    border-radius: 12px;
}

.open-post__hash--main {
    padding-top:12px;
    font-size: 18px;
}

.open-post__hash--sub {
    padding-top:5px;
    color:var(--grey);
}

.open-post--info {
    padding-top:7px;
    display: flex;
    align-items: center;
}

.open-post__img {
    margin-right:5px;
}

.open-post__number {
    color:var(--grey);
}

.open-post__divider {
    margin:0px 5px;
    background-color: var(--main-color);
    width:1px;
    height:15px;
}

.open-post__active {
    color:tomato;
}

.open-post__column-right {
    position: relative;
}


.open-post__like {
    position:absolute;
    background-color: var(--grey);
    color:white;
    border-radius: 10px;
    padding:3px 7px;
    bottom:7px;
    right:7px;
    
}

@keyframes heartBeat {
    0% {
transform: none;
color:white;
    }
    50% {
        transform: scale(1.5);
        color:tomato;
    }
    100% {
        transform: none;
        color:white;
    }
}



.open-post__like i:hover {
    will-change: transform;
animation: heartBeat 1s ease-in-out infinite;
}