.user-components {
    margin-top:15px;
    display: flex;
    justify-content: space-between;
}

.user-component__column {
    display: flex;
    align-items: center;
}


.user-component__column:last-child {
  color:var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-component__column:last-child span  {
    margin-right:5px;
    margin-bottom: 5px;
  }


.user-componenets__info {
    display: flex;
    flex-direction: column;
}
.user-component__avatar--lg {
    width:80px;
    width:80px;
    border-radius: 30px;
    margin-right:10px;
}

.user-component__avatar {
    width:70px;
    width:70px;
    border-radius: 25px;
    margin-right:10px;
}

.user-component__avatar--sm {
    width:60px;
    width:60px;
    border-radius: 20px;
    margin-right:10px;
}

.user-componenet__author {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-component__text {
    color: var(--grey);
}